*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Ambit-normal";
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
input:focus{
    outline: none;
}
hr{
    margin: 0;
    padding: 0;
}
.promo{
    background: url(img/bg.jpg) center/cover no-repeat;
    color: #fff;
    padding-top: 60px;
}

.dropdown{
    position: relative;
}
.dropbtn{
    cursor: pointer;
    float: right;
    max-width: ;
}
.dropdown-content{
    display: none;
    margin-top: 40px;
    background-color: rgba(0,0,0, 0.001);
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 100;
    padding: 10px 0px;
    font-size: 20px;
}
.activeMenu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 400px;
}
.activeMenu a{
    color: #fff;
    transition: color .2s linear;
}
.activeMenu a:not(:first-child){
    margin-top: 5px;
}
.activeMenu a:hover{
    color: #FFF72B;
}

.promo__main{
    margin-top: 143px;
}
.promo__content{
    margin-left: 75px;
}
.promo__heading{
    font-family: "Ambit-black";
    font-size: 72px;
    line-height: 83px;
    text-transform: uppercase;
    padding-top: 37px;
}
.promo__heading span{
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.promo__subheading{
    margin-top: 51px;
    font-size: 48px;
    line-height: 55px;
}
.promo__subheading span{
    font-family: "Ambit-bold";
    font-size: 54px;
    line-height: 62px;
    text-transform: uppercase;
    margin-top: 16px;
}
.scroll{
    margin-top: 178px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 100%;
}
.button{
    font-family: "Ambit-bold";
    font-size: 30px;
    line-height: 34px;
    color: #1B1E27;
    background-color: #FFF72B;
    border-radius: 50px;
    display: inline-block;
    transition: background-color .3s linear;
    cursor: pointer;
}
.button:hover{
    background-color: #d1ca09;
}
.promo .button, .product .button{
    margin-top: 82px;
    padding: 26px 117px;
}
.product .button{
    margin-top: 99px;
}
.rating .button{
    padding: 19px 117px;
    margin-top: 35px;
}
.heading-wrapper{
    text-align: center;
}
.section__heading{
    font-family: "Ambit-bold";
    font-size: 64px;
    line-height: 74px;
    align-items: center;
    background-color: #F4EE42;
    text-align: center;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 16px 31px;
}
.section__heading_inner{
    background-color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

section{
    background-color: #E7E7E7;
    padding-left: 100px;
    padding-right: 100px;
}
.wrapper{
    background-color: #fff;
    border-radius: 50px;
    padding: 80px;
}
.rating hr{
    display: none;
}
.rating img, .gallery img, .product__photo, .promo__img img{
    width: 100%;
}
.rating .row:not(:first-child){
    margin-top: 100px;
}
.rating__content{
    padding-left: 50px;
}
.rating__heading{
    font-family: "Ambit-bold";
    font-size: 48px;
    line-height: 55px;
}
.rating__heading_up{
    text-transform: uppercase;
    text-align: center;
}
.text{
    font-size: 32px;
}
.text_rating{
    margin-top: 34px;
    line-height: 100%;
}
.rating__stars img{
    margin-top: 78px;
}

.text_product{
    font-size: 48px;
    line-height: 57,6px;
    font-family: "Ambit-light";
}
.text_product span{
    font-size: 40px;
    line-height: 100%;
}
.subheading{
    font-family: "Ambit-bold";
    font-size: 36px;
    line-height: 120%;
}
.product__info .subheading{
    margin-top: 120px;
}
.product__img .subheading{
    margin-top: 50px;
}
.product__list{
    margin-top: 40px;
}
.product__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__list img{
    height: 100%;
}

.info{
    padding-top: 80px;
    padding-bottom: 100px;
}
.text_info{
    line-height: 41,6px;
}

.gallery{
    padding-top: 150px;
    padding-bottom: 300px;
    background-color: #fff;
    position: relative;
}
.gallery .button{
    width: 30%;
    padding: 15px 0px;
    text-align: center;
    position: absolute;
    right: 7%;
    bottom: 10%;
}

.sign-up{
    background-color: #2C2C2C;
    padding: 80px 100px;
}
.sign-up__list{
    margin-top: 48px;
}
.sign-up__list li{
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 23px;
}
.sign-up__content{
    color: #fff;
}
.sign-up .subheading{
    font-family: "Ambit-normal";
}
.text_small{
    font-size: 24px;
    line-height: 28px;
}
.sign-up .text_small{
    font-family: "Ambit-light";
}
.sign-up .text_small:not(:first-child){
    margin-top: 32px;
}
.sign-up__form{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.sign-up__form form{
    width: 55%;
}
.sign-up__form .button{
    width: 40%;
    display: inline-block;
    padding: 20px 0px;
}
.sign-up__form input{
    width: 100%;
    height: 74px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 0px 30px;
    background-color: #2C2C2C;
    color: #fff;
}

footer{
    background-color: #161616;
}
.footer__content{
    text-align: center;
    padding: 39px 0;
    color: #fff;
}

@media screen and (max-width: 1440px){
    section{
        padding-left: 20px;
        padding-right: 20px;
    }
    .promo{
        padding-top: 30px;
    }
    .promo__wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .promo__menu{
        max-width: 38px;
    }
    .promo__heading{
        font-size: 58px;
        line-height: 64px;
    }
    .promo__subheading{
        font-size: 36px;
        line-height: 48px;
    }
    .promo__subheading span{
        font-size: 42px;
        line-height: 50px;
    }
    .scroll{
        margin-top: 130px;
        font-size: 22px;
    }
    .button{
        font-size: 26px;
        line-height: 30px;
    }
    .promo .button, .product .button{
        margin-top: 60px;
        padding: 20px 90px;
    }
    .section__heading{
        font-size: 48px;
        line-height: 58px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .rating__content{
        padding-left: 15px;
    }
    .rating__heading{
        font-size: 38px;
        line-height: 44px;
    }
    .text{
        font-size: 26px;
    }
    .text_rating{
        margin-top: 20px;
    }
    .rating .button{
        padding: 15px 100px;
        margin-top: 20px;
    }
    .rating__stars img{
        margin-top: 50px;
    }
    .subheading{
        font-size: 24px; 
    }
    .product__info .subheading{
        margin-top: 90px;
    }
    .text_product, .text_product span{
        font-size: 22px;
    }
    .product__list{
        margin-top: 20px;
    }
    .product__list img{
        width: 13%;
    }
    .gallery{
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .text_small{
        font-size: 20px;
        line-height: 22px;
    }
}

@media screen and (max-width: 1024px){
    .wrapper{
        padding: 40px;
    }
    .promo__menu{
        max-width: 32px;
    }
    .promo__content{
        margin-left: 0;
    }
    .promo__content, .promo__img{
        text-align: center;
    }
    .promo__img img{
        width: 50%;
        margin: 0 auto;
    }
    .button{
        font-size: 22px;
        line-height: 26px;
    }
    .promo .button, .product .button{
        margin-top: 40px;
        padding: 15px 60px;
    }
    .section__heading{
        font-size: 40px;
        line-height: 46px;
    }
    .rating__heading{
        font-size: 30px;
        line-height: 36px;
    }
    .text{
        font-size: 20px;
    }
    .text_rating{
        margin-top: 10px;
    }
    .rating .button{
        padding: 10px 55px;
        margin-top: 10px;
    }
    .section__heading_inner{
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .subheading{
        font-size: 22px; 
    }
    .product__info .subheading{
        margin-top: 60px;
    }
    .product__list{
        flex-wrap: wrap;
    }
    .sign-up{
        padding: 30px 50px;
    }
    .sign-up__list li{
        margin-bottom: 15px;
    }
    .sign-up__form{
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    .sign-up__form form{
        width: 80%;
    } 
    .sign-up__form .button{
        width: 50%;
        padding: 10px 0px;
        margin-top: 15px;
    }
    .sign-up__form input{
        height: 44px;
    }
}

@media screen and (max-width: 768px){
    .dropbtn{
        max-width: 36px;
    }
    .promo__img img{
        width: 60%;
    }
    .section__heading{
        margin: 40px 0px;
    }
    .rating hr{
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
    .rating .row:not(:first-child){
        margin-top: 25px;
    }
    .rating__img{
        text-align: center;
    }
    .rating__img img{
        width: 70%;
    }
    .rating__content, .rating__stars{
        margin-top: 30px;
    }
    .rating__stars{
        text-align: center;
    }
    .rating__stars img{
        width: 80%;
    }
    .product__info{
        text-align: center;
    }
    .section__heading_inner{
        margin: 20px 0px;
    }
    .line{
        width: 70%;
        margin: 0 auto;
    }
    .product__info .subheading{
        text-align: left;
        margin-top: 40px;
    }
    .product__img .subheading{
        text-align: left;
    }
    .product__info .button{
        margin-bottom: 40px;
    }
    .product__img{
        text-align: center;
    }
    .product__photo{
        width: 80%;
    }
    .gallery{
        padding: 50px 20px;
    }
    .sign-up__logo{
        text-align: center;
    }
    .sign-up__list{
        margin-top: 10px;
    }
    .sign-up__list li{
        margin-bottom: 10px;
    }
    .sign-up .subheading{
        text-align: center;
    }
    .sign-up .text_small:not(:first-child){
        margin-top: 15px;
    }
    .sign-up__form .button{
        width: 35%;
    }
    .text{
        font-size: 18px;
    }
    .sign-up__content{
        margin-top: 20px;
    }
}

@media screen and (max-width: 425px){
    .promo__logo{
        max-width: 140px;
    }
    .dropbtn{
        max-width: 30px;
    }
    .promo__img img{
        width: 90%;
    }
    .rating__img img{
        width: 100%;
    }
    .promo__heading{
        font-size: 50px;
        line-height: 56px;
    }
    .promo__subheading{
        font-size: 28px;
        line-height: 34px;
    }
    .promo__subheading span{
        font-size: 36px;
        line-height: 44px;
    }
    .section__heading{
        font-size: 30px;
    }
    .wrapper{
        padding: 50px 10px;
    }
    .rating__content{
        text-align: center;
    }
    .text_rating{
        text-align: left;
    }
    .rating__stars img{
        margin-top: 20px;
        width: 60%;
    }
    .rating hr{
        margin-bottom: 50px;
    }
    .rating .row:not(:first-child){
        margin-top: 50px;
    }
    .product__photo{
        width: 100%;
    }
    .gallery__item{
        padding: 0px;
    }
    .gallery .button{
        padding: 5px 0px;
        font-size: 16px;
    }
    .sign-up{
        padding: 30px 20px;
    }
}

@media screen and (max-width: 375px){
    .promo__heading{
        font-size: 40px;
        line-height: 48px;
    }
    .promo__subheading{
        font-size: 22px;
        line-height: 28px;
    }
    .promo__subheading span{
        font-size: 26px;
        line-height: 34px;
    }
    .section__heading{
        font-size: 24px;
    }
    .rating__heading{
        font-size: 24px;
    }
    text{
        font-size: 16px;
    }
    .button{
        font-size: 18px;
    }
    .subheading, .subheading span{
        font-size: 18px;
    }
}

@font-face {
    font-family: "Ambit-light";
    src: url(../Casino/Ambit-font/Ambit-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Ambit-normal";
    src: url(../Casino/Ambit-font/Ambit-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Ambit-bold";
    src: url(../Casino/Ambit-font/Ambit-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Ambit-black";
    src: url(../Casino/Ambit-font/Ambit-Black.ttf) format("truetype");
}